
h1{
    text-align: center;
    font-style: italic;
}
h3{
    color: rgb(212, 140, 5);
}

img{
    width: 400px;
    height: 275px;
    border-radius: 50%;
    float: right;
   }
    
p{
    font-size: 24px;
}
.navigator {
    text-align: center;
    font-style: normal;
    
}

.navigator li {
    display: inline;
    margin: 20px;
    color: orange;
    font-size: 24px;

}
 

.text{
    background-color: rgb(229, 226, 226);
    margin-left: 10px;
    margin-bottom: 40px;
    padding: 10px;
    font-size: 24px;
}

.list-1{
    background-color: rgb(245, 225, 228);
    margin-left: 10px;
    margin-bottom: 40px;
    padding: 10px;
    font-size: 24px;
}
.list-2{
   background-color: rgb(229, 226, 226);
    margin-right: 10px;
    margin-bottom: 40px;
    padding: 10px;
    font-size: 24px;
}
footer{
    text-align: center;
}


}